<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>BeanController</servlet-name>
        <servlet-class>beanTutorial.BeanController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeanController</servlet-name>
        <url-pattern>/kekse</url-pattern>
        <url-pattern>/keks</url-pattern>
        <url-pattern>/k</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Support</servlet-name>
        <servlet-class>beanTutorial.BeanController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Support</servlet-name>
        <url-pattern>/support</url-pattern>
    </servlet-mapping>


</web-app>